.about {
	h2 {
		font-family: 'Rubik';
		font-style: normal;
		font-weight: 700;
		font-size: 64px;
		line-height: 76px;
		letter-spacing: 4px;
		text-transform: uppercase;
		color: #232F3C;
	}
}

.title {
	p {
		font-family: 'Rubik';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 42px;
		letter-spacing: 1px;
		color: #232F3C;
}

}

p {
		font-family: 'IBM Plex Mono';
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 38px;
		color: #333333;
}