.popup, .popup2 {
  padding-top: 22px;

  opacity: 1;
  transition: opacity 0.3s;

  position: fixed;
  top: 0%;
  left: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;

  background-color: #fff;
  z-index: 11;
  // .popup__container


  &__container {


  }

  // .popup__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 182px;
    height: 56px;
  }

  // .header__img

  &__img {
  }

  // .popup__about

  &__about {
    display: flex;
    flex: 1 1 1;
    justify-content: space-between;
    align-items: center;
  }

  // .popup__forms

  &__forms {
    width: 490px;
    margin-right: 213px;
  }

  // .popup__title

  &__title {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 42px;
    line-height: 58px;
    letter-spacing: 4px;
    text-transform: uppercase;

    & span {
      font-weight: 700;
    }
  }

  // .popup__text

  &__text {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 26px;
  }

  // .popup__form

  &__form {
  }

  // .popup__form-name

  &__form-name {
    
  }

  &__form-name, &__form-mail, &__form-tell {
    width: 480px;
    height: 58px;
    margin-bottom: 16px;
    border-radius: 10px;
    padding-left: 19px;

    &::placeholder {
      font-family: 'IBM Plex Mono', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      color: #333333;
    }
  }

  // .popup__form-mail

  &__form-mail {
  }

  // .popup__form-tell

  &__form-tell {
  }

  // .popup__img

  &__img {
    
  }
}
.button {

  // .button__icon

  &__icon {
  }
}
.poup {

  // .poup__bg

  &__bg {
    width: 699px;
    height: 600px;
  }
}

.close-popup, .close-popup2, .close-video {
  position: relative;
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  background-color: inherit;
  z-index: 7;
  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 10px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333333;
  }
  &::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
    width: 18px;
  }
  &::after {
    width: 18px;
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
  span {
    transform: scale(0)
  }
}

.popup-submit {
  // .popup-submit__button

  &__button {
    width: 480px;
    background-color: #ef5b63;
    color: $color-white;
    border-radius: 10px;
  }

  // .popup-submit__link

  &__link {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 21px 178px;
  }

  // .popup-submit__text

  &__text {
  }
}

.hidden-popup {
  display: none;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  backdrop-filter: blur(3px);
  z-index: 5;
}


.popup-thanks {
  text-align: center;

  // .popup-thanks__title

  &__title {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 76px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
  }

  // .popup-thanks__text

  &__text {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 48px;
    margin-bottom: 36px;
  }

  // .popup-thanks__button

  &__button {
    width: 375px;
    background-color: #ef5b63;
    color: $color-white;
    border-radius: 10px;
    margin: 0 auto;
  }

  // .popup-thanks__link

  &__link {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 21px 10px;
  }
}

.popup__top2 {
  margin-bottom: 120px;
}




