.section-offer {
  border-radius: 10px;
  height: 455px;
  margin-top: 120px;

  background-color: #4FCC97;
}

.offer {
  &__block-one {
    max-width: 765px;
    padding-left: 20px;
  }

  &__title {
    padding-top: 10px;

    font-family: 'Rubik', sans-serif;
    font-size: 64px;
    font-weight: 300;
    line-height: 88px;
    letter-spacing: 4px;
    color: #fff;
    text-transform: uppercase;

    span {
      font-weight: 700;
    }
  }

  &__text {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 26px;
    line-height: 34px;
    font-weight: 400;
    color: #fff;
    padding-top: 32px;
    margin-bottom: 41px;
  }

  &__btn {
    width: 221px;
    height: 60px;
    background-color: #ef5b63;
    border-radius: 10px;
  }

  &__link {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: $color-white;
    padding: 21px 46px;
  }


  &__block-two {
    max-width: 638px;
    height: 657px;
  }

  &__img1 {
    max-width: 638px;
    max-height: 657px;

    transform: translate(135%, -67%);
  }
}

@media(max-width: 1440px) {
  .section-offer {
    max-width: 1100px;
  }
  .offer {
    &__img1 {
      transform: translate(114%, -67%);
    }
  }
}

@media(max-width: 1330px) {
  .section-offer {
    max-width: 1000px;
    height: 355px;
  }
  .offer {
    &__block-one {
      max-width: 665px;
    }
    &__title {
      font-size: 52px;
      line-height: 52px;
    }
    &__text {
      font-size: 18px;
      line-height: 22px;
    }

    &__img1 {
      max-width: 438px;
      max-height: 457px;
      transform: translate(156%, -72%);
    }
  }
}

@media(max-width: 1200px) {
  .section-offer {
    max-width: 900px;
    height: 300px;
  }
  .offer {
    &__block-one {
      max-width: 565px;
    }
    &__title {
      font-size: 44px;
      line-height: 44px;
    }
    &__text {
      font-size: 14px;
      line-height: 18px;
    }

    &__img1 {
      max-width: 365px;
      max-height: 457px;
      transform: translate(170%, -78%);
    }
  }
}

@media(max-width: 1000px) {
  .section-offer {
    max-width: 835px;
  }
  .offer {
    &__img1 {
      max-width: 365px;
      max-height: 457px;
      transform: translate(145%, -78%);
    }
  }
}
@media(max-width: 900px) {
  .offer {
    &__img1 {
      display: none;
    }
  }
}

@media(max-width: 560px) {
  .section-offer {
    height: 370px;
  }
}

@media(max-width: 380px) {
  .section-offer {
    height: 410px;
  }
  .offer {
    &__title {
      margin: 0 auto;
      max-width: 200px;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    }
    &__text {
      font-size: 18px;
      line-height: 26px;
      text-align: center;
    }&__btn {
       margin: 0 auto;
     }

  }
}