.blocks{
  &_header{
      text-transform: uppercase;
      font-size: 64px;
  }
  &_main{
      display: flex;
      font-family: 'Rubik', sans-serif;
      .block{
          width: 450px;
          height: 420px;
          position: relative;
          border-radius: 5%;
          overflow: hidden;
          &_junior{
              border: 2px solid #4FCC97;
          }
          &_middle{
              margin-left: 30px;
              margin-right: 30px;
              border: 2px solid #55CBDC;
          }
          &_senior{
              border: 2px solid #EF5B63;
          }
          &_img{
              position: absolute;
              bottom: 0;
              right: 0;
              z-index: -1;
          }
          &_text{
              display: flex;
              flex-direction: column;
              align-content: space-between;
              padding: 20px 0 0 20px;
              .head_junior{
                  color: #4FCC97;
              }
              .head_middle{
                  color: #55CBDC;
              }
              .head_senior{
                  color: #EF5B63;
              }
          }
          &_text-head{
              text-transform: uppercase;
              display: block;
              font-size: 56px;
              font-weight: bold;
          }
          &_text-subhead{
              text-transform: uppercase;
              display: block;
              font-size: 20px;
          }
          &_text-bottom{
              font-family: 'IBM Plex Mono', monospace;
              &_sup{
                  font-size: 20px;
                  display: block;
              }
              &_sub{
                  font-size: 22px;
                  display: block;
              }
          }
          &_text-price{
              font-size: 46px;
              font-weight: bold;
          }
          &_text-price{
              display: block;
          }
      }  
  }
}

@media only screen and (max-width: 350px) {
  .blocks_header{
      font-size: 24px;
      text-align: center;
  }
  .blocks_main{
      flex-direction: column;
      .block{
          width: 332px;
          height: 270px;
          &_middle{
              margin: 10px 0 10px 0;
          }
          &_img{
              height: 270px;
          }
          &_text-head{
              font-size: 46px;
          }
          &_text-subhead{
              font-size: 16px;
          }
          &_text-bottom_sup{
              font-size: 18px;
          }
          &_text-price{
              font-size: 36px;
          }
          &_text-bottom_sub{
              font-size: 18px;
          }
      }
  }
  
}

@media only screen and (max-width: 768px) {
  .blocks_header{
      font-size: 44px;
      text-align: center;
  }

  .blocks_main{
      flex-direction: column;
      align-items: center;
      .block{
          &_middle{
              margin: 10px 0 10px 0;
          }
          
      }
  }
}