.header {
  height: 56px;
  margin-top: 22px;
  margin-bottom: 52px;

  &__container {
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__logo

  &__logo {
    position: relative;
    width: 182px;
    height: 56px;
    z-index: 10;
    display: flex;
    align-items: left;
  }

  // .header__img

  &__img {
  }

  // .header__social

  &__social {
    position: relative;
    z-index: 10;
    margin-left: 60px;
  }

  // .header__link

  &__link {
  }

  // .header__icon

  &__icon {
    margin-left: 22.5px;
  }

  // .header__linkn

  &__linkn {
  }

  // .header__item

  &__item {
    height: 34px;
    width: 138px;
    margin-right: 31px;
  }

  // .header__item-phone

  &__phone {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    font-family: 'Rubik', sans-serif;
    position: relative;
    z-index: 10;

  }
}
.header-info {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header-reg {

  // .header-reg__button

  &__button {
    width: 142px;
    height: 40px;
    background-color: #EF5B63;
    border-radius: 10px;
    margin-right: 20px;
  }

  // .header-reg__link

  &__link {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    font-family: 'Rubik', sans-serif;
    color: $color-white;
    padding: 12px 21px;
    text-transform: uppercase;
  }

  // .header-reg__text

  &__text {

  }
}

.icon-facebook {
  transition: color 0.2s;
  &:hover {
    color: #3b5998;
  }
}
.icon-linkedin {
  transition: color 0.2s;
  &:hover {
    color: #0e76a8;
  }
}
.icon-telegram {
  transition: color 0.2s;
  &:hover {
    color: #0088cc;
  }
}
.icon-youtube {
  transition: color 0.2s;
  &:hover {
    color: red;
  }
}
.icon-instagram {
  transition: color 0.2s;
  &:hover {
    color: #E1306C;
  }
}
.popup-link {
}
.button {
  width: 40px;
  height: 40px;
  border: 1px solid #333333;
  border-radius: 10px;
  z-index: 10;

  // .button__icon

  &__icon {
  }
}
.icon-menu {
  position: relative;

  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  background-color: inherit;
  z-index: 7;
  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 10px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333333;
  }
  &::before {
    top: 12px;
    width: 18px;
  }
  &::after {
    bottom: 12px;
    width: 18px;
  }
  span {
    top: calc(50% - 1px);
    width: 18px;
  }
  .menu-open & {
    span {
      transform: scale(0);
    }
    &::before {
      transform: rotate(-45deg);
      top: calc(50% - 1px);
    }
    &::after {
      transform: rotate(45deg);
      bottom: calc(50% - 1px);
    }
  }
}



.menu-open .icon-menu::after {
  width: 18px;
}
.menu-open .header-navbar__list {
  top: 0;
}
.menu-open .header-reg__button {
  display: none;
}

.menu-open .header__item {
  align-items: right;
}
.menu-open .header__social {
  margin-right: 162px;
}

.header-navbar {
  // .header-navbar__list


  &__list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: -100%;
    right: 0%;
    width: 100%;
    margin: 0 auto;
    gap: 36px;
    background-color: $color-white;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    transition: 0.5s;
    z-index: 6;

    @media (max-height: 670px) {
      font-size: 24px;
      line-height: 22px;
      letter-spacing: 4px;
      align-content: center;
    }

    @include ul-min {
      font-size: 44px;
      line-height: 53px;
      letter-spacing: 4px;
      height: 100%;
    }
    @include ul-xl{
      font-size: 34px;
      line-height: 33px;
      letter-spacing: 3px;
      height: 100%;
    }
    @include xl-lg{
      font-size: 28px;
      line-height: 24px;
      letter-spacing: 2.5px;
      height: 80%;
    }
    @include lg{
      font-size: 22px;
      line-height: 20px;
      letter-spacing: 2px;
      height: 80%;
    }
  }


  &__item {
  }


  &__link {
    color: #232f3c;
    text-transform: uppercase;
  }

  // .header-navbar__text

  &__text {
    color: #ef5b63;
  }

  // .header-navbar__img

  &__img {
    margin: 0 auto;

    @media (max-height: 670px) {
      width: 520px;
      height: 410px;
    }

    @include ul-min {
      width: 699px;
      height: 587px;
    }
    @include ul-xl{
      width: 599px;
      height: 487px;
    }
    @include xl-lg{
      width: 520px;
      height: 417px;
    }
    @include lg{
      width: 480px;
      height: 377px;
    }
  }
}

@media (max-height: 670px) {

}


