.gallery {
	width: 100%;
	margin: 40px 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;
}

.gallery__item {
	position: relative;
	padding: 0px 0px 85% 0px;
	align-items: center;
}

.gallery__item img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
}




@media (max-width: 768px) {
	.gallery {
		display: none;
	}
	.slick-slider .slider__item img{
		margin-right: 10px;
		width: 332px;
		height: 332px;
		border-radius: 20px;
	}
	
	.slick-list	{
		overflow: hidden;
	}
	
	.slick-track {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 0;
	}
	
	.slider .slick-dots{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.slider .slick-dots li{
		list-style: none;
		margin: 0 10px;
	}
	
	.slider .slick-dots button{
		font-size: 0;
		width: 12px;
		height: 12px;
		background-color: #39444F;
		border: 0;
		border-radius: 50%;
	}
	
	.slider .slick-dots li.slick-active button {
		background-color: #EF5B63;
	}
	
	.slider__item {
		text-align: center;
	}
}

@media (min-width: 1366px) {
	.gallery__item-big {
		grid-column: span 2;
		grid-row: span 2;
	}
	
	.gallery__item-long {
		padding: 0;
		grid-column: span 2;
		grid-row: span 1;
	}

	.item-2 {
		grid-row-start: 3;
	}
	
	.item-4 {
		grid-row-start: 2;
		grid-column-start: 3;
	}
	
	.item-5 {
		grid-row-start: 1;
		grid-column-start: 5;
		grid-column-end: 7;
	}
	
	.item-6 {
		grid-row-start: 1;
		grid-column-start: 4;
	}
	.item-9 {
		grid-row-start: 2;
		grid-column-start: 6;
	}
}

